* {
    padding: 0;
margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body{
    background: url(./img/Background.svg);
    box-sizing: border-box;
}
header {
    background: url(./img/header_back.svg);
}

header ul {
    display: flex;
    justify-content: space-between;
}

header .rigth_side {
    display: flex;
}